html {
  font-family: 'MonumentExtended', sans-serif;
  box-sizing: 	border-box;
  font-size: 62.5%;
  background-color: black;
  overflow-x: hidden;
}

body {
  background-color: black;
  margin: 0 auto!important;
  max-width: 1400px;
}
    
*, *:before, *:after{
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'MonumentExtended', sans-serif;
}


@media (max-width: 768px){
  .noMobile {
    display: none;
  }
}
@media (max-width: 991px){
  .justDesktop {
    display: none;
  }
}

@media (min-width: 768px){
  .noDesktop {
    display: none;
  }
}

@media (min-width: 991px){
  .noDesktop991 {
    display: none;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px!important;
  }
}

/* 
@media (min-width: 1450px) {
  .container {
    max-width: 1400px!important;
  }
} */

/* NO MARGIN */
@media (max-width: 768px){
  .nmm {
    margin: 0!important;
  }
}

.nm {
  margin: 0!important;
}

@media (min-width: 768px){
  .nmd {
    margin: 0!important;
  }
}


/* General */

.MuiTypography-body1 {
  font-size: 1.3rem!important;
}
