html {
  font-family: 'MonumentExtended', sans-serif;
  box-sizing: 	border-box;
  font-size: 62.5%;
  background-color: black;
  overflow-x: hidden;
}

body {
  background-color: black;
  margin: 0 auto!important;
  max-width: 1400px;
}
    
*, *:before, *:after{
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'MonumentExtended', sans-serif;
}


@media (max-width: 768px){
  .noMobile {
    display: none!important;
  }
}
@media (max-width: 991px){
  .justDesktop {
    display: none;
  }
}

@media (min-width: 768px){
  .noDesktop {
    display: none;
  }
}

@media (min-width: 991px){
  .noDesktop991 {
    display: none;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px!important;
  }
}

/* 
@media (min-width: 1450px) {
  .container {
    max-width: 1400px!important;
  }
} */

/* NO MARGIN */
@media (max-width: 768px){
  .nmm {
    margin: 0!important;
  }
}

.nm {
  margin: 0!important;
}

@media (min-width: 768px){
  .nmd {
    margin: 0!important;
  }
}


/* General */

.MuiTypography-body1 {
  font-size: 1.3rem!important;
}

.aSinClase, .aSinClase:hover {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* Phone */

.react-tel-input .form-control {
  width: 100%!important;
  margin-bottom: 3rem;
  border: none;
  border-bottom: 1px solid #ff0000;
  border-radius: 0px;
  color: #ff0000;
}

.react-tel-input .form-control:focus {
  border-bottom: 1px solid #ff0000;
  outline: none;
  box-shadow: none;
  color: #ff0000;
}